.btnLoad {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
    margin-top: 25px;
    color: aliceblue;
    background-color: rgb(91, 91, 91);
    border-radius: 7px;
    border: none;
    border-radius: 8px;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    cursor: pointer;
    transition: border-color 0.25s;
    }

.btnLoad:hover {
    background-color: #cccccc;
    color: rgb(91, 91, 91);
}